{
  "env": { "mocha": true },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["standard", "standard-with-typescript"],
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  }
}
